*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Navbar Style */


/* banner style */
.header{
    background-image: url('../images/banner/banner3.png');
    background-repeat: no-repeat;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.banner-title{
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin: 216px 180px 24px 845px;
    color: #FFFFFF;
}
.banner-description{
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    margin: 0 180px 30px 845px;
    color:#FFFFFF;
    margin-bottom: 30px;
}
.btn-primary{
    background-color: #FFFFFF;
    font-size: 20px;
    border-radius: 5px;
    padding: 25px;
    color: #005FAC;
    margin-bottom: 166px;
    margin-right: 180px;
}

/* previous year styles */
.previous-year{
    display:flex;
    max-width: 1072px;
    margin: 131px 322px 0 206px;
    justify-content: center;
    align-items: center;
    gap: 87px;
}
.section-title{
 font-size: 40px;
 font-weight: 700;
 margin-bottom: 24px;
 color: #151414;
}
.section-details{
margin-bottom: 16px;
font-size: 16px;
font-weight: 400;
color: #444343;
}
.section-list{
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #444343;
}
.icon{
    color: green;
}
/* my Plans styles  and my Mission Vission styles */
.my-plans{
    max-width: 1102px;
    text-align: center;
    margin: 131px 230px 0px 230px;

}
.plans, .missions{
    display: flex;
    justify-content:space-around;
    margin-bottom: 131px;
    gap: 15px;
}
.plans-title, .missions-title{
    font-size: 40px;
    font-weight: 700;
    color: #151414;
    margin-bottom: 50px;
}
.my-plan, .my-mission{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.plan-title, .mission-title{
    font-size: 30px;
    font-weight: 700;
    color: #151414;
}
.plan-subtitle, .mission-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: #737272;
}
.my-mission>img{
    width: 100px;
    height: 100px;
}
.mission{
    max-width: 1102px;
    margin: 131px 230px 0px 230px;
    text-align: center;
}
/* Mind set styles */
.mindset{
    max-width: 1140px;
    height: 300px;
    background-image:linear-gradient(to right,#1b5ef0c5,#33cc4daf),url(/images/watch.png);
    margin: 131px 230px 0px 230px;

}
.mindset-heading{
 display: flex;
 flex-direction: column;
 gap: 24px;
 align-items: flex-start;
 padding-left: 64px;
 padding-top: 59px;

}
.mindset-title{
    font-size: 40px;
    font-weight: 700;
    color: #FFFFFF;
    padding-right: 517px;

}
.btn-secondary{
    color: #005FAC;
    border-color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 36px;
    border-radius: 5px;
}
/* footer styles */
.footer{
    background-color: #151414;
    margin-top: 131px;
}

.main-footer{
    display: flex;
    gap: 331px;
    justify-content: center;
    align-items: center;
    padding: 130px 230px;
}
.future-title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #FFFFFF;
}
.future-details{
    margin-bottom: 24px;
    color: #737272;
    font-weight: 300;
}
.future-info{
    margin-bottom: 16px;
    color: #737272;
    font-weight: 300;
}
.icons{
    display: flex;
    gap: 16px;
}
.subscribe-title{
    font-size: 25px;
    font-weight: 600;
    color: #FFFFFF;
}
.input{
    width: 325px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin-top: 31px;
    margin-bottom: 16px;
    padding: 10px;
}
.btn-subscribe{
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    background-color: #005FAC;
    color: #FFFFFF;
    border-radius: 8px;
}